resources/chestnut.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- simple types -->
	<xs:element name="version"      type="xs:integer" />
	<xs:element name="url"          type="xs:string" /> 
	<xs:element name="name" 		type="xs:string" />
	<xs:element name="width" 		type="xs:integer" />
	<xs:element name="height" 	    type="xs:integer" />
	<xs:element name="framerate" 	type="xs:decimal" />
	<xs:element name="duration"	    type="xs:integer" />
	<xs:element name="channels"	    type="xs:integer" />
	<xs:element name="frequency"    type="xs:integer" />
	<xs:element name="layout"       type="xs:integer" />
	<xs:element name="frame"        type="xs:integer" />
	<xs:element name="comment"      type="xs:string" />
	<xs:element name="color"        type="xs:integer" />
	<xs:element name="value"        type="xs:integer" />

	<!-- attributes -->
	<xs:attribute name="id" 		type="xs:integer" />
	<xs:attribute name="enabled"	type="xs:boolean" />
	<xs:attribute name="in" 		type="xs:integer" />
	<xs:attribute name="out"	 	type="xs:integer" />
    <xs:attribute name="folder"     type="xs:integer" />
    <xs:attribute name="using"      type="xs:boolean" />


	<!-- complex types -->

	<xs:element name="folder">
		<xs:complexType>
            <xs:sequence>
                <xs:element ref="name"/>
            </xs:sequence>
            <xs:attribute ref="id"/>
            <xs:attribute name="parent" type="xs:integer"/>
		</xs:complexType>
	</xs:element>	

	<xs:element name="folders">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="folder"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	

	<xs:element name="project">
		<xs:complexType>
			<xs:sequence>
                <xs:element ref="version"/>
                <xs:element ref="folders"/>
                <xs:element ref="media"/>
                <xs:element ref="sequences"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="media">
		<xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="footage"/>
            </xs:sequence>
		</xs:complexType>
	</xs:element>

    <!-- TODO: Video, audio and image should inherit the same base -->
    <xs:element name="video">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="width"/>
                <xs:element ref="height"/>
                <xs:element ref="framerate"/>
            </xs:sequence>
            <xs:attribute ref="id"/>
            <xs:attribute name="infinite" type="xs:string"/>
		</xs:complexType>
	</xs:element>

    <xs:element name="image">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="width"/>
                <xs:element ref="height"/>
                <xs:element ref="framerate"/>
            </xs:sequence>
            <xs:attribute ref="id"/>
            <xs:attribute name="infinite" type="xs:string"/>
		</xs:complexType>
	</xs:element>

    <xs:element name="audio">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="channels"/>
                <xs:element ref="layout"/>
                <xs:element ref="frequency"/>
            </xs:sequence>
            <xs:attribute ref="id"/>
		</xs:complexType>
	</xs:element>

    <xs:element name="marker">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="name"/>
                <xs:element ref="frame"/>
                <xs:element ref="comment"/>
                <xs:element ref="duration"/>
                <xs:element ref="color"/>
            </xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="footage">
		<xs:complexType>
            <xs:sequence>
                <xs:element ref="name"/>
                <xs:element ref="url"/>
                <xs:element ref="duration"/>
                <xs:element name="speed" type="xs:decimal"/>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="video"/>
                </xs:sequence>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="audio"/>
                </xs:sequence>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="image"/>
                </xs:sequence>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="marker"/>
                </xs:sequence>
            </xs:sequence>
            <xs:attribute ref="id"/>
            <xs:attribute ref="folder"/>
            <xs:attribute name="using_inout" type="xs:boolean"/>
            <xs:attribute ref="in" />
            <xs:attribute ref="out" />
		</xs:complexType>
	</xs:element>

	
	<xs:element name="keyframe">
		<xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="1">
                <xs:element name="value"    type="xs:string"/>
                <xs:element name="frame"    type="xs:integer"/>    	       
                <xs:element name="prex"     type="xs:decimal"/>
                <xs:element name="prey"     type="xs:decimal"/>
                <xs:element name="postx"    type="xs:decimal"/>
                <xs:element name="posty"    type="xs:decimal"/>
            </xs:sequence>
            <xs:attribute name="type" type="xs:integer"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="field">
		<xs:complexType>
            <xs:sequence>  
                <xs:element ref="name"/>
                <xs:element name="value" type="xs:string"/>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="keyframe"/>
                </xs:sequence>
            </xs:sequence>
		</xs:complexType>
	</xs:element>
	
    <xs:element name="row">
		<xs:complexType>
            <xs:sequence>  
                <xs:element ref="name"/>
                <xs:sequence minOccurs="1" maxOccurs="unbounded">
                    <xs:element ref="field"/>
                </xs:sequence>
            </xs:sequence>
		</xs:complexType>
	</xs:element>
	
    <xs:complexType name="transition">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="length" type="xs:integer"/>
            <xs:element name="secondary_clip" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>

	<xs:element name="effect">
		<xs:complexType>
            <xs:sequence>                
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="row"/>
                </xs:sequence>
            </xs:sequence>
            <xs:attribute ref="enabled"/>
            <xs:attribute name="name" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="timelineinfo">
		<xs:complexType>
            <xs:sequence> 
                <xs:element ref="name"/>
                <xs:element name="clipin"   type="xs:integer"/>
                <xs:element name="enabled"  type="xs:boolean"/>
                <xs:element name="in"       type="xs:integer"/>
                <xs:element name="out"      type="xs:integer"/>
                <xs:element name="track"    type="xs:integer"/>
                <xs:element ref="color"/>
                <xs:element name="autoscale"    type="xs:boolean"/>
                <xs:element name="speed"        type="xs:decimal"/>
                <xs:element name="maintainpitch"    type="xs:boolean"/>
                <xs:element name="reverse"    type="xs:boolean"/>
                <xs:element name="stream"    type="xs:integer"/>		
            </xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="clip">
		<xs:complexType>
            <xs:sequence>
                <xs:element ref="name"/>   
                <xs:element name="created_object" type="xs:boolean"/>
                <xs:element ref="timelineinfo"/>
                <xs:element name="opening_transition" type="transition"/>
                <xs:element name="closing_transition" type="transition"/>                   
                <xs:element name="links">
                    <xs:complexType>
                        <xs:sequence minOccurs="0"> 
                            <xs:element name="link" type="xs:integer"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="effect"/>
                </xs:sequence>
            </xs:sequence>
            <xs:attribute name="source" type="xs:integer"/>
            <xs:attribute ref="id"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="track">
	    <xs:complexType>
	        <xs:sequence>
	            <xs:element name="index" type="xs:integer"/>
	            <xs:element name="enabled" type="xs:boolean"/>
	            <xs:element name="locked" type="xs:boolean"/>
	            <xs:element ref="name"/>
	        </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="sequence">
		<xs:complexType>
            <xs:sequence>
                <xs:element name="workarea">
                    <xs:complexType>
                        <xs:attribute ref="using"/>
                        <xs:attribute ref="enabled"/>
                        <xs:attribute ref="in"/>
                        <xs:attribute ref="out"/>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="name"/>
                <xs:element ref="width"/>
                <xs:element ref="height"/>
                <xs:element ref="framerate"/>
                <xs:element ref="frequency"/>
                <xs:element ref="layout"/>
                <xs:sequence minOccurs="1" maxOccurs="unbounded">
                    <xs:element ref="track"/>
                </xs:sequence>
                <xs:sequence minOccurs="1" maxOccurs="unbounded">
                    <xs:element ref="clip"/>
                </xs:sequence>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="marker"/>
                </xs:sequence>
            </xs:sequence>
            <xs:attribute ref="id"/>
            <xs:attribute ref="folder"/>
            <xs:attribute name="open" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>

    <xs:element name="sequences">
		<xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="sequence"/>
            </xs:sequence>
		</xs:complexType>
	</xs:element>
            
</xs:schema>
